dl {
  margin-top: 0;
  margin-bottom: 8px;
}



.mon-stat-block__header {
  line-height: 1.1;
  font-family: Cinzel;
  font-size: 24px;
  color: #822000;
}
.mon-stat-block__name{font-weight:bold;font-size:34px;font-family:Cinzel,Roboto,Helvetica,sans-serif;color:#822000;}
.mon-stat-block__name .mon-stat-block__name-link{color:#822000;}
.mon-stat-block__name .mon-stat-block__name-link:hover,.mon-stat-block__name .mon-stat-block__name-link:visited,.mon-stat-block__name .mon-stat-block__name-link:active{color:#822000;}
.mon-stat-block__meta {
  /* font-style: italic; */
  margin-bottom: 5px;
  color: black;
  font-size: 16px;
}
.mon-stat-block__attribute{
  break-inside: avoid;
  margin:5px 0;
  color:#822000;
  line-height:1.2;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
.mon-stat-block__attribute-label{font-weight:bold;}
.mon-stat-block__stat-block .ability-block{color:#822000;margin:0;}
.mon-stat-block__tidbits{
  margin:5px 0;
  color:#822000;
  line-height:1.2;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
.mon-stat-block__tidbit-label{font-weight:bold;}
.mon-stat-block__description-blocks{margin-top:20px;}
.mon-stat-block__description-block-heading{border-bottom:1px solid #822000;color:#822000;font-size:24px;font-weight:normal;font-family:"Scala Sans Offc",Roboto,Helvetica,sans-serif;line-height:1.4;margin-top:20px;margin-bottom:15px;}
.mon-stat-block__description-block p{margin-bottom:10px;}
.mon-stat-block .tooltip-hover{font-weight:bold!important;}
.mon-stat-block .tooltip-hover,.mon-stat-block .tooltip-hover:hover,.mon-stat-block .tooltip-hover:focus,.mon-stat-block .tooltip-hover:active,.mon-stat-block .tooltip-hover:visited{color:inherit!important;font-weight:inherit!important;text-decoration:underline;text-decoration:underline solid #47D18C;}
@media print,(min-width:768px){
.mon-stat-block{-webkit-column-count:2;column-count:2;}
}
@media print{
.mon-stat-block::before{border-top:6px solid #999;}
.mon-stat-block::after{border-bottom:6px solid #999;}
}
.tooltip-hover{font-weight:bold!important;}
.tooltip-hover,.tooltip-hover:hover,.tooltip-hover:focus,.tooltip-hover:active,.tooltip-hover:visited{color:#47D18C!important;}
