
*,*::after,*::before{box-sizing:inherit;}
::-moz-selection{background:#242527;color:#fff;text-shadow:none;}
::selection{background:#242527;color:#fff;text-shadow:none;}
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
strong{font-weight:bold;}
p{margin:0 0 19.5px;}
img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;}

p:empty,p:last-child{margin:0;}

*,*::before,*::after{box-sizing:inherit;-webkit-tap-highlight-color:transparent;outline:0;}
p{margin:0 0 15px;}
*::selection{background:#222!important;}
